.about-me {
    @media screen and (min-width:768px) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 300px 1fr;
    }
    @media screen and (max-width:1200px) {
        margin-top: 10px;
    }
}

.about-me_photo {
    @media screen and (min-width:375px) {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        }
    
    @media screen and (min-width:768px) {
        display: block;
        width: 300px;
    }
}
.about_wrapper_photo{
    padding-left: 20px;
    @media screen and (min-width:768px) {
        display: none;
        }
}
.about_wrapper_content{
    @media screen and (max-width:768px) {
        display: none;
        }
}


.about-me_info {
    padding: 10px;
    @media screen and (min-width:768px) {
        padding: 40px;
        }
}

/* --------botton-------- */
.about-me_button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    margin-top: 30px;
    height: 55px;

    box-shadow: -1px -1px 0 1px #FBC02D, 0 0 0 2px #353535;
    border-radius: 15px;
    background: none;
    white-space: nowrap;
    cursor: pointer;

    color: #353535;
    font-weight: 500;
    font-size: 20px;
    transition: box-shadow 250ms linear, color 250ms linear;

    &:hover,
    &:focus {
            color: #ffffff;
            background-color: #FBC02D;
            box-shadow: 1px 1px 0 1px #FBC02D;
        }
}
#printBtn{
    @media screen and (max-width:450px) {
        display: none;
    }
}

