.hobies{
    padding: 30px 0;
}

.hobies__list{
    display: flex;
    gap: 20px;
}
.hobies__list-item{
    width: 33%;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid transparent;

    background-color: #fcf6e2;
    transition: border 250ms linear, transform 100ms linear, box-shadow 250ms linear;
    &:hover{
        transform: scale(1.03);
        border: 1px solid rgb(251, 192, 45);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}
.hobies__list-title{
  text-align: center;
  margin-bottom: 10px;
}
.hobies__list-text{
    
}