<div class="print">
  <div class="print__about">
    <img src="./images/photo.jpg" alt="Tanya Pavliuk" />
    <div class="print__content-about">
      <h2>Tanya Pavliuk</h2>
      <h3 class="print__subtitle">Front-end (React) developer</h3>
      <p>
        <span>About me:</span>
      I am a Front-end Developer, and my heart beats with great passion
      for code. With a strong foundation in HTML, CSS, SCSS, JavaScript,
      and React. My level of English is pre-intermediate for now but is
      growing. Ukrainian is my native language. Currently, I am studying TypeScript,
      and my plan is to deep into Next.js and React Native next.
      <div class="print__contact">
        <ul class="print__list">
          <li>
            <h3 class="print__item item-main">Contacts:</h3>
          </li>
          <li class="print__item">
            <span
              ><svg width="20px" height="20px" fill="#353535">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg> </span
            >+380634761210
          </li>
          <li class="print__item">
            <span
              ><svg width="20px" height="20px" fill="#353535">
                <use href="./images/sprite.svg#icon-email"></use>
              </svg> </span
            >tanyapavlyk1998@gmail.com
          </li>
          <li>
            <span
              ><svg width="20px" height="20px" fill="#353535">
                <use href="images/sprite.svg#icon-location"></use>
              </svg> </span
            >Location: Ukraine, Kyiv
          </li>
        </ul>
        <ul class="print__list">
          <li><h3 class="print__item item-main">Languages:</h3></li>
          <li class="print__item">Ukrainian native</li>
          <li class="print__item">English intermediate</li>
          <li class="print__item">Russian native</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="print__skills">
    <ul class="print__list">
      <li><h3 class="print__item item-skill">Tech skills:</h3></li>
      <li class="print__item">HTML5, CSS</li>
      <li class="print__item">JavaScript</li>
      <li class="print__item">React, Redux</li>
      <li class="print__item">GIT/Github</li>
      <li class="print__item">WebPack/Parsel</li>
      <li class="print__item">REST APIs</li>
      <li class="print__item">Postman</li>
    </ul>
    <ul class="print__list">
      <li><h3 class="print__item item-skill">Soft skills:</h3></li>
      <li class="print__item">Team player</li>
      <li class="print__item">Agile-oriented</li>
      <li class="print__item">Communication</li>
      <li class="print__item">Strategic thinking</li>
      <li class="print__item">Willingness to learn</li>
    </ul>
  </div>
  <div class="print_project">
    <h3 class="print__item item-skill">Project Experience</h3>
    <ul class="print_project__list">
        <li>
          <h4>Book-shelf</h4>
          <p>Technologies: HTML, CSS, JS, API.</p>
          <p>Role : team-leader. A website for searching books. </p>
        </li>
        <li>
          <h4>Simple-Chocolate</h4>
          <p>Technologies: HTML, CSS, JS.</p>
          <p>Role : team-leader. A website about exceptional chocolate, where you can learn about
          product.</p>
        </li>
      <li>
        <h4>Movie</h4>
        <p>Technologies: HTML, CSS, JS, React, API. Individual project. A website for searching movies.</p>
      </li>
    </ul>
    
  </div>
  <div class="print__education">
    <h3 class="print__item item-skill">Education</h3>
    <ul class="print__education-list">
      <li>
        <p class="print__item">March 2023-Now</p>
        <h3 class="print__item">
          <span
            ><svg width="20px" height="20px" fill="#353535">
              <use href="./images/sprite.svg#icon-books"></use>
            </svg> </span
          >GoIT
        </h3>
        <p class="print__item">specialization "Full Stack Developer"</p>
      </li>
      <li>
        <p class="print__item">October 2022-Now</p>
        <h3 class="print__item">
          <span
            ><svg width="20px" height="20px" fill="#353535">
              <use href="./images/sprite.svg#icon-books"></use>
            </svg> </span
          >Zhytomyr Polytechnic State University
        </h3>
        <p class="print__item">specialization "Management"</p>
      </li>
    </ul>
  </div>
  <div class="print_experience">
    <h3 class="print__item item-skill">Experience</h3>
    <ul class="print__experience-list">
      <li class="print__item">Sales manager</li>
      <li class="print__item experience-item">
        Management and control of the full cycle of product sales
      </li>
      <li class="print__item experience-item">
        Maintaining the customer base in the CRM system
      </li>
    </ul>
  </div>
</div>
